@import url(https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@100;300;700;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;500&display=swap);
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@100;300;700;900&display=swap');
@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;500&display=swap);
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@100;300;700;900&display=swap');
@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;500&display=swap);

@mixin vertical {
  :root:lang(ko-Kore):not(.horizontal) &,
  :root:lang(ja):not(.horizontal) &,
  :root:lang(zh):not(.horizontal) &,
  :root.vertical & {
    @content;
  }
}

@mixin horizontal {
  :root:lang(ko-Kore).horizontal &,
  :root:lang(ko-Hang) &,
  :root:lang(ja).horizontal &,
  :root:lang(zh).horizontal &,
  :root.horizontal & {
    @content;
  }
}

::selection, ::-moz-selection {
  background: #171717;
  color: #ddd;
  font-weight: 100;

  @media (prefers-color-scheme: dark) {
    background: #ddd;
    color: #111;
    font-weight: 200;
  }
}

body {
  padding: 1em;
  margin: auto;

  @include vertical {
    max-height: calc(100% - 8rem);

    writing-mode: vertical-rl;
    font-feature-settings: "vchw" 1, "vhal";
    -moz-font-feature-settings: "vchw" 1, "vhal";
    -webkit-font-feature-settings: "vchw" 1, "vhal";
  }

  @include horizontal {
    max-width: calc(100% - 4rem);

    font-feature-settings: "chws" 1, "halt";
    -moz-font-feature-settings: "chws" 1, "halt";
    -webkit-font-feature-settings: "chws" 1, "halt";
  }

  &:lang(ko) { font-family: 'Noto Serif CJK KR', 'Noto Serif KR', serif; }
  &:lang(ja) { font-family: 'Noto Serif CJK JP', 'Noto Serif JP', serif; }
  &:lang(zh) { font-family: 'Noto Serif TC', 'Noto Serif TC', serif; }

  font-variant-east-asian: proportional-width;
  line-height: 1.6;

  @media (prefers-color-scheme: dark) {
    background: #171717;
    color: #ddd;
    font-weight: 100;
  }
}

@media (min-height: 50rem) {
  body {
    @include vertical {
      max-height: unquote('min(45rem, 100% - 18rem)');
      font-size: larger;
    }

    & > article:first-child, & > nav.articles {
      @include vertical {
        padding-right: 0;
      }
    }
  }

  article > :first-child {
    @include vertical { margin: default; }
  }

  footer > nav > div.site {
    @include vertical {
      writing-mode: horizontal-tb;
      text-align: start;
      top: 3.5rem;
      right: 3.5rem;
      font-size: x-large;
      max-height: 5rem;
    }
  }
}

@media (min-width: 50rem) {
  body {
    @include horizontal {
      max-width: unquote('min(45rem, 100% - 18rem)');
      font-size: larger;
    }

    & > article:first-child, & > nav.articles {
      @include horizontal() {
        padding-top: 0;
        margin: default;
      }
    }
  }

  footer > nav > div.site {
    @include horizontal {
      writing-mode: vertical-lr;
      text-align: start;
      right: 3.5rem;
      top: 3.5rem;
      font-size: x-large;
    }
  }
}

body > article {
  @include vertical { padding-right: 3rem; }
  @include horizontal { padding-top: 3rem; }

  & > time:first-of-type {
    float: right;
    opacity: 0.5;
    font-size: smaller;
  }

  & > h1:first-of-type {
    @include vertical {
      margin-left: 1.5rem;
    }

    @include horizontal {
      margin-bottom: 1.5rem;
    }
  }

  h2 { font-size: larger; }
}

body > nav.articles {
  @include horizontal {
    padding-top: 1.5rem;
  }
}

footer > nav > .site {
  position: absolute;

  @include vertical {
    bottom: 3.5rem;
    right: 2.5rem;
    width: fit-content;
  }

  @include horizontal {
    top: 2.5rem;
    right: 2.5rem;
    max-width: 10rem;
  }

  font-size: large;
  font-weight: 900;
  text-align: end;

  @media (prefers-color-scheme: dark) {
    font-weight: 700;
  }

  a {
    background: inherit;
    color: inherit;

    &:link, &:visited {
      background: inherit;
      opacity: 0.5;
    }

    &:hover {
      background: inherit;
      opacity: 1;
    }
  }
}

@media (min-height: 50rem) {
  footer > nav > div.languages, body > header > nav.languages {
    @include vertical {
      bottom: 3.5rem;
      right: 3.5rem;
      writing-mode: horizontal-tb;
      font-size: smaller;

      a { margin: 0; margin-left: 0.5rem; font-size: smaller; }
      a:hover { border: none; border-bottom: 3px solid; }
    }
  }
}

@media (min-width: 50rem) {
  footer > nav > div.languages, body > header > nav.languages {
    @include horizontal {
      top: 3.5rem;
      left: 3.5rem;
      writing-mode: vertical-lr;
      font-size: smaller;

      a { margin: 0; margin-bottom: 1rem; font-size: smaller; }
      a:hover { border: none; border-right: 3px solid; }
    }
  }
}

footer > nav > .languages {
  font-size: x-small;

  @include vertical {
    a { margin-bottom: 1rem; }
  }

  @include horizontal {
    top: 2.7rem;
  }
}

body > header > .languages {
  font-size: small;

  @include vertical {
    bottom: 3rem;

    a { margin-top: 1rem; }
  }

  @include horizontal {
    top: 6.5rem;

    a { margin-right: 0.5rem; padding-left: 0; }
  }
}

footer > nav > .languages, header > nav.languages {
  position: absolute;
  width: fit-content;

  @include vertical {
    right: 3rem;
    max-height: 15rem;
  }

  a {
    font-family: 'Noto Sans CJK KR', 'Noto Sans KR', sans-serif;
    font-weight: 100;
    background: none;
    opacity: 0.75;

    &:hover {
      border-radius: 0;
      opacity: 1;

      @include vertical {
        border-right: 3px solid;
      }

      @include horizontal {
        border-bottom: 3px solid;
      }
    }

    &.this, &.this:hover {
      font-weight: 500;
      opacity: 1;
      cursor: default;
    }
  }
}

a {
  color: black;
  text-decoration: none;
  background: #eee;
  border-radius: 0.2rem;

  @media (prefers-color-scheme: dark) {
    background: #333;
    color: white;
  }
}

a:hover {
  background: silver;

  @media (prefers-color-scheme: dark) {
    background: #555;
  }
}

nav.articles > ul {
  list-style: none;
  padding: 0;

  > li {
    margin-right: 0.4rem;
  }
}

article {
  @include vertical {
    text-align: justify;
  }
}

article, article * {
  align-items: stretch;
}

em {
  font-style: normal;
  //text-emphasis: dot;
}

q {
  @include vertical {
    &:before {
      content: '\300c';
    }

    &:after {
      content: '\300d';
    }
  }
}

cite {
  &:lang(ko), &:lang(ja), &:lang(zh) {
    font-style: normal;
  }
}

ruby {
  &:lang(ko-Kore) {
    rt {
      visibility: hidden;
    }
  }
}

blockquote {
  font-size: smaller;
  margin: 1rem;
}

hr {
  border: none;

  @include vertical {
    border-right: 1px solid #ccc;

    @media (prefers-color-scheme: dark) {
      border-right-color: #333;
    }
  }

  @include horizontal {
    border-top: 1px solid #ccc;

    @media (prefers-color-scheme: dark) {
      border-top-color: #333;
    }
  }
}

sup.footnote-ref > a {
  border: none;
  padding: 0;
  background: none;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 900;
  font-size: smaller;
  writing-mode: horizontal-tb;
  margin-top: -0.3rem;

  &:hover {
    color: gray;

    @media (prefers-color-scheme: dark) {
      color: silver;
    }
  }
}

.footnotes > ol {
  list-style: none;
  font-size: smaller;
  padding: 0;

  counter-reset: footnote-counter;
  > li {
    &:before {
      counter-increment: footnote-counter;
      content: counter(footnote-counter);
      float: left;
      margin-right: 0.5rem;
    }

    a.reversefootnote {
      writing-mode: horizontal-tb;
      background: transparent;
      color: gray;
      transform: scaleX(-1);
    }
  }
}

sup > a.footnote, .footnotes > ol > li:before {
  writing-mode: horizontal-tb;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 900;

  @media (prefers-color-scheme: dark) {
    font-weight: 700;
  }
}
